body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    user-select: none;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.nav .home-button {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    user-select: none;
}

.nav .home-button:hover {
    background-color: white;
    color: #333;
}

.content {
    padding: 10px 20px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    max-height: calc(100vh - 170px);
    overflow-x: auto;
    overflow-y: auto;
}

h1 {
    color: #333;
    padding-bottom: 10px;
}

p {
    color: rgb(60, 60, 60, 1.0);
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: white;
    background-color: rgb(77, 77, 77, 1.0);
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.07s;
    user-select: none;
}

.button:hover {
    background-color: rgb(66, 66, 66, 1.0);
}

.github-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: rgb(41, 41, 41, 1.0);
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.07s;
    user-select: none;
}

.github-button:hover {
    background-color: rgb(30, 30, 30, 1.0);
}

.telegram-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.07s;
    user-select: none;
}

.telegram-button:hover {
    background-color: rgb(0, 112, 244, 1.0);
}

.social {
    padding: 10px 20px 10px 20px;
    margin-top: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
