/* Colors */
:root {
    --primary-color: #7E57C2; /* Violet */
    --primary-light: #B085F5; /* Light Violet */
    --primary-dark: #4A148C; /* Dark Violet */
    --background-color: #212121; /* Dark background */
    --surface-color: #2C2C2C; /* Surface dark color */
    --text-color: #ffffff; /* White text */
    --secondary-text-color: #BDBDBD; /* Light gray text */
    --font-family: 'Roboto', sans-serif;
}


/* Fade animations */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s;
}


/* Other stuff */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: var(--surface-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.hero {
    background-color: var(--primary-dark);
    color: var(--text-color);
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0 0;
}

.content {
    padding: 20px;
    width: calc(100% - 100px);
    margin: 20px auto;
    background: var(--surface-color);
    color: var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.content h2 {
    margin-top: 0;
}

.content p {
    color: var(--secondary-text-color);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    margin-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--primary-dark);
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: var(--surface-color);
    color: var(--secondary-text-color);
}